python-dotenv
fastapi
loguru
git+https://github.com/huggingface/transformers.git
gradio==3.41.2
gradio_client==0.5.0
grpcio==1.60.0
pytorch-lightning==1.9.4
einops
kornia 
open-clip-torch
omegaconf 
GitPython
tomesd
scikit-image
psutil
jsonmerge
dctorch 
torchdiffeq
torchsde
clean-fid
clip 
piexif 
lark 
tensorboard 
blendmodes
fastapi_login











